@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

#splash {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin-left: -2.5em;
  margin-top: -2.5em;
  font-size: 10px;
  text-indent: 999em;
  overflow: hidden;
  -webkit-animation: spin 1s infinite steps(8);
          animation: spin 1s infinite steps(8);
  opacity: 0; }

#splash:before,
#splash:after,
#splash > div:before,
#splash > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em;
  /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee;
  /* container height - part height */
  -webkit-transform-origin: 50% 2.5em;
          transform-origin: 50% 2.5em;
  /* container height / 2 */ }

#splash:before {
  background: #555; }

#splash:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #777; }

#splash > div:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #999; }

#splash > div:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background: #bbb; }

body {
  padding: 20px;
  background: #f0f0f0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333; }
  body.loading #splash {
    opacity: 1; }
