<link rel="import" href="../../components/paper-card/paper-card.html">

<dom-module id="my-greeting">
  <style>
    :host {
      display: block;
    }
    paper-card{
      width:150px;
      height:auto;
    }
    paper-card img{
      width:100%;
      height:auto;
      max-height:150px;
    }
    @media (max-width: 600px) {
      h1.paper-font-display1 {
        font-size: 24px;
      }
    }
  </style>
  <template>
    <!-- <h1 class="paper-font-display1"><span>{{greeting}}</span></h1>
    <span class="paper-font-body2">Update text to change the greeting.</span>
    Listens for "input" event and sets greeting to <input>.value 
    <input class="paper-font-body2" value="{{greeting::input}}">-->

    <paper-card>
      <img src="https://pmctvline2.files.wordpress.com/2016/02/game-of-thrones-jon-snow.jpg?w=620&h=420&crop=1" alt="">
      <div class="card-content">John Snow</div>
      <!-- <div class="card-actions">
        <paper-button>Some action</paper-button>
      </div> -->
    </paper-card>
    <paper-card>
      <img src="http://images.techtimes.com/data/images/full/145399/daenerys-targaryen.jpg" alt="">
      <div class="card-content">Daenerys</div>
      <!-- <div class="card-actions">
        <paper-button>Some action</paper-button>
      </div> -->
    </paper-card>
    <paper-card>
      <img src="https://s-media-cache-ak0.pinimg.com/originals/06/54/7b/06547be491ffb7ceb88ed6f86d5e3656.jpg" alt="">
      <div class="card-content">Stark</div>
      <!-- <div class="card-actions">
        <paper-button>Some action</paper-button>
      </div> -->
    </paper-card>

    <paper-card>
      <img src="http://urflag.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/g/a/game-of-thrones-casa-targaryen.png" alt="">
      <div class="card-content">Targaryen</div>
      <!-- <div class="card-actions">
        <paper-button>Some action</paper-button>
      </div> -->
    </paper-card>





  </template>

<script>
(function() {
  Polymer({
    is: 'my-greeting',

    properties: {
      greeting: {
        type: String,
        value: 'Welcome!',
        notify: true
      }
    }
  });
})();
</script>

</dom-module>
